
<configdata>
	<menu>
		<artists>
			<module>media</module>
			<controller>artists</controller>
			<action>index</action>
			<label>Artists</label>
		</artists>
		<find>
			<module>media</module>
			<controller>artists</controller>
			<action>find</action>
			<label>Find</label>
		</find>
	</menu>
</configdata>