
<configdata>
	<menu>
		<new>
			<module>content</module>
			<controller>item</controller>
			<action>new</action>
			<label>New Content</label>
		</new>
		<flagged>
			<module>content</module>
			<controller>item</controller>
			<action>mine</action>
			<label>My Content</label>
		</flagged>
		<search>
			<module>content</module>
			<controller>item</controller>
			<action>find</action>
			<label>Find Content</label>
		</search>
	</menu>
</configdata>