body
{
    background-color: #CCC;
    color: black;
}

div#menu
{
    float: left;
    width: 200px;
    border: 2px solid black;
    margin: 4pt;
}

div#menu li a,
div#menu li a.link,
div#menu li a.visited
{
    font-family: Arial;
    color: Blue;
    font-weight: bold;
    text-decoration: none;
}

.button_link_list li
{
    link-style: none;
    display: inline-block;
    margin: 0.5em;
    padding: 0px;
}

.button_link_lista,
.button_link_list a:link,
.button_link_list a:visited,

a.linkbutton,
a.linkbutton:link,
a.linkbutton:visited
{
    background-color: white;
    text-decoration: none;
    padding: 2px;
    display: inline-block;
    border: 1px #999 solid;
    font-family: Arial, sans-serif;
    color: #006;
}

.button_link_list a:hover,
a.linkbutton:hover
{
    background-color: black;
    color: white;
}

#main dl.zend_form dt{
    float: left;
    width: 150px;
    font-size: 90%;
    margin-bottom: 0.25em;
    height: 1.25em;
    clear: left;
}

#main dl.zend_form dd{
    margin-bottom: 0.25em;
    font-family: Arial,Helvetica,sans-serif;
    width: 405px;
    float: left;
    clear: right;
}

#main dl.zend_form{
    font-family: Arial,Helvetica,sans-serif;
    width: 700px;
    display: block;
    clear: both;
}

#main dl.zend_form input,
#main dl.zend_form textarea,
#main dl.zend_form select
{
    width: 400px;
    border: 1px solid #CCC;
    background-color: #E1E1E1;
    font-family: Arial, sans-serif;
    font-size: 100%;

}

#main dl.zend_form input[type="checkbox"],
#main dl.zend_form input[type="radio"]
{
    width: auto;
}

#main dl.zend_form input[type="button"],
#main dl.zend_form input[type="submit"]
{
    border-bottom: 2px solid black;
    background-color: #666;
    color: white;
    font-weight: bold;/*
    margin-left: 120px; */
}

#main fieldset.ticket
{
    border: 3px solid white;
    width: auto;
    padding: 1em;
}

#main fieldset.ticket legend
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 125%;
    color: #666666;
    font-weight: bold;
    position: relative;
    top: 0.5em;
    right: 2em;
}

fieldset.ticket  dt label{
    font-family: Arial,Helvetica,sans-serif;
}

fieldset.ticket  dt{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;

padding:0;
clear:left;
width:200px;
float:left;
text-align:right;
margin:5px 1em 5px 0;
}

fieldset.ticket  dd{
padding:0;
float:left;
width:300px;
margin:6px 6px 6px 0;
}

fieldset.ticket ol
{
    padding: 0px;
    margin: 0px;
    margin-top: 0.75em;
}

fieldset.ticket ol li
{
    padding: 0px;
    margin: 0px;
    margin-left: 0.75em;
    display: inline;
    list-style: none;
}

fieldset.ticket ol li a,
fieldset.ticket ol li a:link,
fieldset.ticket ol li a:visited
{

    border: 1px solid #CCC;
    font-family: Arial, sans-serif;
    font-size: 125%;
    border-bottom: 2px solid black;
    background-color: #666;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;/*
    margin-left: 120px; */
}


table.layout_table
{
	border: none;
}

table.layout_table td,
table.layout_table th
{
	border: none;
	padding: 2px;
}

table.button_table a.control
{
    margin: 2px;
    font-size: 80%;
}
.control_list li
{
	list-style-type: none;
	display: inline-block;
}

.control_list a:link,
.control_list a:visited,
a.control:link,
a.control:visited,
a.edit:link,
a.edit:visited
{
	border: 2px solid #666;
	padding: 4px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	text-align: center;
	margin: 8px;
	display: inline-block;
}

div.control,
.control_list a:hover,
a.control:hover,
a.edit:hover
{
	background-color: #FFFF99;
	color: blue;
	border: 2px solid black;
	text-align: center;
}

.dojoxGrid
{
    font-size: 8pt;
    font-family: Verdana, Helvetica, sans-serif;
    background-color: transparent;
}

.dojoxGridRowTable,
.dojoxGridHeader,
.dojoxGridMasterHeader
{
    background-color: transparent;
}

.dojoxGridHeader .dojoxGridCell
{
    background-color: transparent;
    border: none;
    background-image: none;
}

.dojoxGridCell
{
    border: none;
}

table.zupal_form_table{
    border: none;
    margin: 1em;
    background-color: #999;
}

table.zupal_form_table th,
table.zupal_form_table td{
    padding: 0.25em;
    vertical-align: top;
    text-align:left;
    white-space:nowrap;
    padding-bottom: 0.5em;
}

table.zupal_form_table th{
    text-align:left;
    font-weight: bold;
    width: 200px;
}

table.zupal_form_table .required
{
    color: white;
}