body
{
    background-color: #CCC;
    color: black;
}

div#menu
{
    float: left;
    width: 200px;
    border: 2px solid black;
    margin: 4pt;
}

div#menu li a,
div#menu li a.link,
div#menu li a.visited
{
    font-family: Arial;
    color: Blue;
    font-weight: bold;
    text-decoration: none;
}


a.linkbutton,
a.linkbutton:link,
a.linkbutton:visited
{
    background-color: #E1E1E1
}

a.linkbutton:hover
{
    background-color: black;
    color: white;
}