body
{
    background-color: red;
    margin: 0px;
    padding: 0px;
    color: yellow;
}

div#menu
{
    float: left;
    width: 200px;
    border: 2px solid white;
    margin: 4pt;
}

div#user_menu ul,
div#menu ul
{
    margin: 0px;
    padding: 0px;
}

div#user_menu li,
div#menu li
{
    margin: 0px;
    padding: 0px;
    padding-left: 1em;
    list-style: none
}


div#menu li a,
div#menu li a.link,
div#menu li a.visited
{
    font-family: Arial;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

div#user_menu h1
{
    font-size: 100%;
    font-weight: bold;
    display: inline-block;
    margin-right: 1em;
}

div#user_menu ul.navigation,
div#user_menu ul.navigation li
{
    display: inline;
}

div#main
{
    float: left; 
}