
<configdata>
	<menu>
		<create>
			<module>admin</module>
			<controller>item</controller>
			<action>create</action>
			<label>Create Content</label>
		</create>
		<find>
			<module>admin</module>
			<controller>item</controller>
			<action>find</action>
			<label>Find Content</label>
		</find>
	</menu>
</configdata>