
<configdata>
	<menu>
		<new>
			<module>admin</module>
			<controller>places</controller>
			<action>new</action>
			<label>New Place</label>
		</new>
		<flagged>
			<module>admin</module>
			<controller>places</controller>
			<action>index</action>
			<label>List Places</label>
		</flagged>
		<search>
			<module>admin</module>
			<controller>logs</controller>
			<action>index</action>
			<label>Search Logs</label>
		</search>
	</menu>
</configdata>