
<configdata>
	<menu>
		<employees>
			<module>people</module>
			<controller>employees</controller>
			<action>index</action>
			<label>Employees</label>
		</employees>
		<seventh>
			<module>people</module>
			<controller>users</controller>
			<action>index</action>
			<label>Users</label>
		</seventh>
	</menu>
</configdata>